@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: .2rem;
    margin-right: .5rem;
    position: absolute;
}
::-webkit-scrollbar-track{
    background-color: #0000003f;
    position: absolute;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(232, 231, 231, 0.877);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(232, 231, 231, 0.507);
}